# Initiation and Engagement with Treatment Among Oregon Medicaid Beneficiaries with a New Episode of AOD, 2010-2020

## Producing Data

The final analytical datasets are created by using the data from the Albus CHSE server and adding additional variables.

1) Analytic file at the beneficary-year level of beneficiaries ages 13-64 with a new AOD episode containing:
- Demographics
    - Gender identity
    - Race and Ethnicity
    - Age
    - Urbanicity of residence
- Prior Year Conditions
    - Severe Mental Health Dx
    - Pain Dx
    - CDPS Risk Score
- Type of AOD Dx in Prior Year
    - Alcohol
    - Opioid
    - Polysubstance
    - Overdose
- Inclusion Criteria
    - Flag for 11+ months enrolled in prior year
    - Flag for dual-eligibles
    
2) Analytic file at the beneficary-year for all beneficiaries ages 13-64 containing:

### Declare imports

In [1]:
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine
import sqlalchemy
import io
import csv
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import seaborn as sns
from tableone import TableOne
import matplotlib.ticker as mtick
import numpy as np
import warnings
import sqlite3
from datetime import date
warnings.filterwarnings('ignore')
%load_ext sql

### Print Version and Date

In [2]:
from platform import python_version

print("Python Version:", python_version())

Python Version: 3.9.7

In [3]:
today = date.today()
print("Today's date:", today)

Today's date: 2022-07-29

### Set file directories

In [4]:
user_file = "username.txt"
pw_file = "pw.txt"

### Set up user and password variables

#### User

In [5]:
try:
    uf = open(user_file, "r")
    user = uf.read().strip()
except (Exception, os.error) as error:
    print("Error while opening user file " + user_file + ": ", error)
finally:
    uf.close()

#### Password

In [6]:
try:
    pwf = open(pw_file, "r")
    pw = pwf.read().strip()
except (Exception, os.error) as error:
    print("Error while opening password file " + user_file + ": ", error)
finally:
    pwf.close()

### Database variables

In [7]:
db_server = "albus.ohsu.edu"
db_port = "5432"
db_user = user
db_password = pw
db_name = "hsd"

### Set the connection string for SQLAlchemy

In [8]:
connection_string = "postgresql://" + db_user + ":" + db_password +  "@" + db_server + ":" + db_port + "/" + db_name

iPython-sql, which will allow for SQL magic functions, should already be installed â€” this is the command to install if it isn't

In [9]:
# %pip install ipython-sql

In [10]:
#con_string = "postgresql+psycopg2://" + db_user + ":" + db_password +  "@" + db_server + ":" + db_port + "/" + db_name

In [11]:
#engine = create_engine(con_string)
#engine.connect()

### Connect SQLAlchemy

In [12]:
#Connect
%sql "$connection_string"

#### Set up the psycopg2 database connection

In [13]:
con = pg.connect(host = db_server, port = db_port, user= db_user, password = db_password, dbname = db_name)

### Pain Dx

In [14]:
pain = pd.read_csv("E:/ARP_120/reference_tables/pain_dx.csv")

In [15]:
pain['code_formatted'] = pain['code'].str.replace('.', '')
pain['code_formatted'] = pain['code_formatted'].str.replace(' ', '')
del pain['Unnamed: 3']

In [16]:
%sql drop table if exists pain;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.

[]

In [17]:
%sql --persist pain

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd

'Persisted pain'

In [18]:
%%sql
grant all on pain to arp120;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.

[]

In [19]:
%%sql

drop table if exists pain_dx_claims;

create temporary table pain_dx_claims as

select		c.*
from		arp120.claims c
where		exists (
					select		a.sak_claim
					from		(
								select		  sak_claim
											, unnest(array[icdcm1, icdcm2, icdcm3, icdcm4]) as icdcm
								from		arp120.claims
								) a
					inner join	pain b
						on		a.icdcm = b.code_formatted
					where 		a.sak_claim = c.sak_claim
					)
and			c.datefirstsvc >= '2010-01-01'
and			c.datefirstsvc <= '2020-12-31';

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.
20383456 rows affected.

[]

In [20]:
%%sql

drop table if exists pain_dx_claims_by_member;

create temporary table pain_dx_claims_by_member as

select		  memberid
			, concat(date_part('year', datefirstsvc), '-12-31')::date as dos_year
			, count('a') as count_claim_lines
from		pain_dx_claims
group by	  memberid
			, concat(date_part('year', datefirstsvc), '-12-31')::date;
			
create unique index ind_pain_dx_claims_by_member_memberid_dos_year on pain_dx_claims_by_member (memberid, dos_year);

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.
2407209 rows affected.
Done.

[]

### AOD Dx

In [21]:
aod = pd.read_csv("E:/ARP_120/reference_tables/AOD codes.csv")
aod['code_formatted'] = aod['Code'].str.replace('.', '')
aod['code_formatted'] = aod['code_formatted'].str.replace(' ', '')
aod['disorder'] = aod['Disorder']

In [22]:
%sql drop table if exists aod;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.

[]

In [23]:
%sql --persist aod

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd

'Persisted aod'

In [24]:
%%sql
grant all on aod to arp120;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.

[]

In [ ]:
%%sql

drop table if exists aod_dx_claims;

create table aod_dx_claims as

select	t1.memberid
	,t1.pos
	,t1.datefirstsvc
	,t1.icdcm1 as icdcm
	,t2.disorder
from	arp120.claims as t1
	inner join aod as t2
		on t1.icdcm1 = t2.code_formatted

union
select	t3.memberid
	,t3.pos
	,t3.datefirstsvc
	,t3.icdcm2 as icdcm
	,t2.disorder
from	arp120.claims as t3
	inner join aod as t2
		on t3.icdcm2 = t2.code_formatted

union
select	t4.memberid
	,t4.pos
	,t4.datefirstsvc
	,t4.icdcm3 as icdcm
	,t2.disorder
from	arp120.claims as t4
	inner join aod as t2
		on t4.icdcm3 = t2.code_formatted

union
select	t5.memberid
	,t5.pos
	,t5.datefirstsvc
	,t5.icdcm4 as icdcm
	,t2.disorder
from	arp120.claims as t5
	inner join aod as t2
		on t5.icdcm4 = t2.code_formatted;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd

In [ ]:
# Create a table that has AOD dx by member and year
query = """select * from aod_dx_claims;"""
m = pd.read_sql(query, con= con)

In [ ]:
m['datefirstsvc'] = pd.to_datetime(m['datefirstsvc'])
m['year'] = m['datefirstsvc'].dt.year
m['sak_claim'] = 1

In [ ]:
alc = m[m['disorder'] =="Alcohol"]
alc_my = alc.groupby(['memberid', 'year', 'pos']).sak_claim.agg('count')
alc_my = alc_my.reset_index()

In [ ]:
pos = pd.read_csv("pos.csv")
pos['pos'] = pos['Value'].astype(str)
pos_dict = dict(zip(pos['pos'], pos['Description']))

In [ ]:
alc_my['pos_desc'] = alc_my['pos'].map(pos_dict)

In [ ]:
sud_my = m.groupby(['memberid', 'year', 'disorder']).sak_claim.agg('count')
sud_my = sud_my.reset_index()

In [ ]:
a = sud_my.pivot(index=['memberid', 'year'], columns='disorder', values='sak_claim')
a = a.reset_index()
a = a.fillna(0)

In [ ]:
a['Otherdx'] = a['Other'] + a['Other - amphetamine'] + a['Other - cocaine'] + a['Other - hallucinogen'] + a['Other - sedatives']
sud_my = a
sud_my.loc[sud_my['Alcohol']>=1, 'alcohol'] = 1
sud_my.loc[sud_my['Opioid']>=1, 'opioid'] = 1
sud_my.loc[sud_my['Otherdx']>=1, 'otherdx'] = 1
sud_my.loc[sud_my['Overdose']>=1, 'overdose'] = 1
sud_my['Overdose'].value_counts()
aod_dx_claims_by_member = sud_my[['memberid', 'year', 'alcohol', 'opioid', 'otherdx', 'overdose']]
aod_dx_claims_by_member = aod_dx_claims_by_member.fillna(0)

In [ ]:
%sql drop table if exists aod_dx_claims_by_member;

In [ ]:
%sql --persist aod_dx_claims_by_member

### Transgender Dx

In [ ]:
%%sql

drop table if exists arp120.trans;

create table arp120.trans 	(
							icdcm varchar(7)
							);

insert into arp120.trans
values
		  ('302')
		, ('3025')
		, ('30250')
		, ('30251')
		, ('30252')
		, ('30253')
		, ('3026')
		, ('30285')
		, ('F640')
		, ('F641')
		, ('F642')
		, ('F648')
		, ('F649')
		, ('Z87890');

create unique index ui_arp120_trans_icdcm 
	on				arp120.trans(icdcm);

Use diagnoses codes to identify cohort with 1+ gender-claim

Creates table: arp120.t_cohort

In [ ]:
%%sql

drop table if exists arp120.t_cohort;

create table arp120.t_cohort as

select		  memberid
			, min(datefirstsvc) as date_first_t_id
from		(
			select			  memberid
							, datefirstsvc 
			from 			arp120.claims as t1 
			inner join 		arp120.trans as t2 
				on 			t1.icdcm1 = t2.icdcm
			union
			select		  	  memberid
							, datefirstsvc 
			from 			arp120.claims as t3 
			inner join 		arp120.trans as t2 
				on 			t3.icdcm2 = t2.icdcm
			union
			select			  memberid
							, datefirstsvc 
			from 			arp120.claims as t4 
			inner join 		arp120.trans as t2 
				on			t4.icdcm3 = t2.icdcm
			union
			select			  memberid
							, datefirstsvc 
			from 			arp120.claims as t5 
			inner join 		arp120.trans as t2	
				on 			t5.icdcm4 = t2.icdcm
			) a
where		datefirstsvc >= '2010-01-01' 
and 		datefirstsvc <= '2020-12-31'
group by 	memberid;

Adds dual-eligible flag to table

In [ ]:
%%sql

alter table 	arp120.t_cohort
add column 		flag_everdual integer;

update 	arp120.t_cohort
set		flag_everdual = a.flag_everdual
from	(
		select 	  memberid
				, 1 as flag_everdual 
		from 	arp120.mem_detail
		where 	isdual = true
		) a
where	t_cohort.memberid = a.memberid;

create unique index ui_t_cohort_memberid 
	on 				arp120.t_cohort(memberid);

### People with SUD (identified by the IET measure)

Remove duplicates from the iet_mem table that Vijet created - the yearEnding periods ending in December have exact duplicates

In [ ]:
%%sql

drop table if exists iet_mem_distinct;

create table iet_mem_distinct as
select		distinct
			  "memberID" as member_id
			, "yearEnding" as year_ending
			, "measureID" as measure_id
			, den
			, num
from		arp120.j_iet_mem;

create unique index iet_mem_distinct_mem_id_year_ending
on	iet_mem_distinct (member_id, measure_id, year_ending);

### Identify people in the study population

#### Create a mem_detail table keeping just non-duals age 13-64 - this is all people enrolled during the study period

In [ ]:
%%sql 

drop table if exists mem_detail;

create table mem_detail as
select 		  a.yearending
			, a.memberid
			, a.age
			, case
				when a.age < 18
				then 1
				else 0
				end as youth            
			, a.gender
			, a.memberzip
			, a.memberzipdesig
			, a.memberzipdesigruca
			, a.membercounty
			, a.plan_name
			, a.race
			, a.ethnicity
			/* Race-ethnicity assumptions:
				We want Hispanic, Non-Hispanic white, Non-Hispanic non-white, and Unknown.
				If ethnicity is unknown, use race and assume ethnicity is non-Hispanic.
			*/
			, case
				when	a.ethnicity = 'Hispanic'
				then	a.ethnicity
				when	a.ethnicity = 'Non-Hispanic'
				then	case
							when 	a.race in ('WHITE', 'White (Non-Hispanic)', 'Caucasian', 'Other White')
							then 	'Non-Hispanic white'
							else	'Non-Hispanic non-white'
						end
				when	a.ethnicity is null or a.ethnicity = 'Unknown'
				then	case
							when	a.race is null 
							or 		a.race = 'Unknown' 
							or 		a.race = 'Decline to Answer'
							or		a.race = 'Not Provided'
							then	'Unknown'
							else	case
									when 	a.race in ('WHITE', 'White (Non-Hispanic)', 'Caucasian')
									then 	'Non-Hispanic white'
									else	'Non-Hispanic non-white'
									end
							end
				end as race_eth
			, case
				when b.memberid is not null
				then 1
				else 0
				end as t_ident	
			, a.monthsenrolledprioryr
from		arp120.mem_detail a 
left join	arp120.t_sab b
	on		a.memberid = b.memberid 
where		yearending between '2010-01-01' and '2020-12-31'
and			age between 13 and 64
and			isdual = false;

create unique index mem_detail_memberid_yearending
on mem_detail (memberid, yearending);

#### Get prior year enrollment information

In [ ]:
%%sql

drop table if exists mem_detail_prior_yr;

create temporary table mem_detail_prior_yr as 

select  	  a.memberid
			, a.yearending
			, case 
				when	b.monthsenrolledprioryr = 12
				then	1
				else	0
				end as enrolled_all_prior_year
			from mem_detail a
left join	mem_detail b
	on		a.memberid = b.memberid
	and		a.yearending = b.yearending - interval '1 year';

create index ind_mem_detail_prior_yr on mem_detail_prior_yr (memberid);

### PCP visit in prior year

#### Pull PCP claim lines for aggregation later

In [ ]:
%%sql 

drop table if exists pcp_claims;

create temporary table pcp_claims as

select		c.*
from		arp120.claims c
inner join	mem_detail m
	on		c.memberid = m.memberid
	and		date_part('year', c.datefirstsvc) = date_part('year', m.yearending)
where		c.datefirstsvc >= '2010-01-01'
and			c.datefirstsvc <= '2020-12-31'
and			date_part('month', m.yearending) = 12
and			c.isvisitpcp = true;

create index ind_pcp_claims_memberid on pcp_claims (memberid);

#### Aggregate PCP claim lines up by member and year of service

In [ ]:
%%sql

drop table if exists pcp_claims_by_member;

create temporary table pcp_claims_by_member as

select		  memberid
			, concat(date_part('year', datefirstsvc), '-12-31')::date as dos_year
			, count('a') as count_claim_lines
from		pcp_claims
group by	  memberid
			, concat(date_part('year', datefirstsvc), '-12-31')::date;
			
create unique index ind_pcp_claims_by_member_memberid_dos_year on pcp_claims_by_member (memberid, dos_year);

### Mental health dx

input_csv = "E:/ARP_120/reference_tables/mentaldx.csv"

table_create_script = "E:/ARP_120/code/sql/create_tables/create_ref_mental_dx.sql"

sql = open(table_create_script, 'r')

f = open(input_csv, 'r')

with con.cursor() as cur:

    # Read and execute the table create script from the sql variable
    cur.execute(sql.read())
    con.commit()

    # Copy the data - use copy_expert because copy_from can't handle quoted strings containing commas
    cur.copy_expert("""COPY arp120.ref_mental_dx FROM STDIN WITH (FORMAT CSV, HEADER)""", f)
    con.commit()

#### Pull mental diagnosis claim lines for aggregation later

In [ ]:
%%sql

drop table if exists mental_dx_claims;

create temporary table mental_dx_claims as

select		c.*
from		arp120.claims c
where		exists (
					select		a.sak_claim
					from		(
								select		  sak_claim
											, unnest(array[icdcm1, icdcm2, icdcm3, icdcm4]) as icdcm
								from		arp120.claims
								) a
					inner join	arp120.ref_mental_dx b
						on		a.icdcm = b.code_formatted
					where 		a.sak_claim = c.sak_claim
					)
and			c.datefirstsvc >= '2010-01-01'
and			c.datefirstsvc <= '2020-12-31';

#### Aggregate mental health diagnosis claim lines up by member and year of service

In [ ]:
%%sql

drop table if exists mental_dx_claims_by_member;

create temporary table mental_dx_claims_by_member as

select		  memberid
			, concat(date_part('year', datefirstsvc), '-12-31')::date as dos_year
			, count('a') as count_claim_lines
from		mental_dx_claims
group by	  memberid
			, concat(date_part('year', datefirstsvc), '-12-31')::date;
			
create unique index ind_mental_dx_claims_by_member_memberid_dos_year on mental_dx_claims_by_member (memberid, dos_year);

### CDPS Risk Score

Create the CDPS risk score. The presence/absence of each condition with medium-high severity, will be coded as 1/0.

In [ ]:
%%sql

drop table if exists t_cdps;
create temporary table	t_cdps as 

select		  memberid
			, yearending
			, case when carvh + carm > 0 then 1 else 0 end as dx_cardio
			, case when psyh + psym > 0 then 1 else 0 end as dx_psych
			, case when skcm > 0 then 1 else 0 end as dx_skeletal
			, case when cnsh + cnsm > 0 then 1 else 0 end as dx_cns
			, case when pulvh + pulh + pulm > 0 then 1 else 0 end as dx_pulm
			, case when gih + gim > 0 then 1 else 0 end as dx_gi
			, case when dia1h + dia1m + dia2m > 0 then 1 else 0 end as dx_diabetes
			, case when sknh > 0 then 1 else 0 end as dx_skin
			, case when reneh + renvh + renm > 0 then 1 else 0 end as dx_renal
			, case when canvh + canh + canm > 0 then 1 else 0 end as dx_cancer
			, case when meth + metm > 0 then 1 else 0 end as dx_metabolic
			, case when aidsh + infh + hivm + infm > 0 then 1 else 0 end as dx_aids
			, case when hemeh + hemvh + hemm > 0 then 1 else 0 end as dx_hematological
from		arp120.cdps 
where		yearending::date >= '2010-12-31'
and			yearending::date <= '2020-12-31'
and			date_part('month',yearending::date) = 12; /*use only the rows from the ends of the enrollment years*/	

create unique index ind_t_cdps_memberid_yearending on t_cdps (memberid, yearending);

### Create the final cohort dataset

In [ ]:
%%sql

drop table if exists arp120.table1;

create		table arp120.table1 as

select 		  a.*
			, coalesce(c.count_claim_lines, 0) as pcp_claim_lines
			, coalesce(d.count_claim_lines, 0) as mental_dx_claim_lines
			, coalesce(f.count_claim_lines, 0) as pain_dx_claim_lines
			, g.alcohol as alc
			, g.opioid as opi
			, g.otherdx as oth
			, g.overdose as ovr
			, b.den as iet_i_den
			, b.num as iet_i_num
			, iete.den as iet_e_den
			, iete.num as iet_e_num
			, e.enrolled_all_prior_year  
			, h.dx_cardio
			, h.dx_psych
			, h.dx_skeletal
			, h.dx_cns
			, h.dx_pulm
			, h.dx_gi
			, h.dx_diabetes
			, h.dx_skin
			, h.dx_renal
			, h.dx_cancer
			, h.dx_metabolic
			, h.dx_aids
			, h.dx_hematological
from		mem_detail a
inner join	iet_mem_distinct b
	on		a.memberid = b.member_id
	and		a.yearending = b.year_ending::date
	and		b.measure_id = 'IET_I'
inner join	iet_mem_distinct iete
	on		a.memberid = iete.member_id
	and		a.yearending = iete.year_ending::date
	and		iete.measure_id = 'IET_E'
left join	pcp_claims_by_member c
	on		a.memberid = c.memberid
	and		a.yearending = c.dos_year
left join	mental_dx_claims_by_member d
	on		a.memberid = d.memberid
	and		a.yearending = d.dos_year - interval '1 year'
left join	pain_dx_claims_by_member f
	on		a.memberid = f.memberid
	and		a.yearending = f.dos_year - interval '1 year'
left join	aod_dx_claims_by_member g
	on		a.memberid = g.memberid
	and		date_part('year', a.yearending) = g.year
left join	mem_detail_prior_yr e
	on		a.memberid = e.memberid
	and		a.yearending = e.yearending
left join	t_cdps h
	on		a.memberid = h.memberid
	and		a.yearending = h.yearending::date
where		date_part('month', a.yearending) = 12;

create unique index ind_table1_memberid_yearending on arp120.table1 (memberid, yearending);

grant all on arp120.table1 to arp120;

###  Final Round of Cleaning

In [14]:
query = """select  * from arp120.table1;"""
df_table1 = pd.read_sql(query, con= con)

In [15]:
table1 = df_table1.sort_values(by=['memberid', 'yearending'])
group = table1
group['t_ident'].value_counts()

0    302325
1      1744
Name: t_ident, dtype: int64

In [16]:
category = pd.cut(group.age, bins=[12, 17, 25, 34, 43, 64], labels=["13-17", "18-25", "26-34", "35-44", "45-64"])
group.insert(5, "age_grp", category)

In [17]:
group['yearending'] = pd.to_datetime(group['yearending'])
group['year'] = group['yearending'].dt.year

In [18]:
group['urban'] = np.where((group['memberzipdesig']=="Urban"), 1, 0)
group['mh'] = np.where((group['mental_dx_claim_lines']>=1), 1, 0)
group['pain'] = np.where((group['pain_dx_claim_lines']>=1), 1, 0)
group['pcp'] = np.where((group['pcp_claim_lines']>=1), 1, 0)
group['alc'] = np.where((group['alc']>=1), 1, 0)
group['opi'] = np.where((group['opi']>=1), 1, 0)
group['oth'] = np.where((group['oth']>=1), 1, 0)
group['ovr'] = np.where((group['ovr']>=1), 1, 0)
group['gen_grp'] = np.where((group['t_ident']==1), 1, group['gender'])
cols = ['alc', 'ovr', 'oth']
group['poly'] = group[cols].sum(axis=1)
group['poly'] = np.where((group['poly']>=1), 1, 0)

In [19]:
## CDPS Risk Score
cols = ['dx_cardio', 'dx_psych', 'dx_skeletal', 'dx_cns', 'dx_pulm', 'dx_gi', 'dx_diabetes', 'dx_skin', 'dx_renal', 'dx_cancer', 'dx_metabolic', 'dx_aids', 'dx_hematological']
group['cdps'] = group[cols].sum(axis=1)
group['cdps_bin'] = np.where((group['cdps']>=1), 1, 0)

In [24]:
# Apply inclusion criteria of 11 months continuous enrollment
group['include'] = np.where((group['monthsenrolledprioryr']>=11), 1, 0) 
group = group[group['include']==1]
len(group)
aod_cohort = group

In [25]:
%sql drop table if exists aod_cohort;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd
Done.

[]

In [26]:
%sql --persist aod_cohort;

 * postgresql://downingj:***@albus.ohsu.edu:5432/hsd

'Persisted aod_cohort'

fin